body{margin:0;padding:0;background-color:#eee;}
a{color:#dc906a}
a:hover{color:#59301b}

#background{position:fixed;top:0;overflow:hidden;height:0}
#wave-canvas{display:block;position:relative;top:0;left:5%;width:55%;min-width:850px;height:150px;border:0}
#main{z-index:2;margin:0 auto;position:absolute;top:5%;width:100%;min-width:240px;text-align:center;}

#main-content{background:rgba(238,238,238,0.95);padding:0;text-align:center;cursor:default;text-align:center;}
#main-content{margin-left:6.5104167%;width:86.9791667%;}
@media (min-width: 768px) {
    #main-content{width:66%;min-width:668px;margin-left:50px}
}
@media (min-width: 1200px) {
    #main-content{width:66%;max-width:900px;margin-left:50px}
}
/* Avatar, Name, etc. */
#main-content-container{margin:0 auto;padding:15px 0em 15px 0em;max-width:1080px;}
@media (min-width: 768px) {
    #main-content-container{padding:15px 0 15px 2em;}
}
#main-content-container .col-avatar{text-align:center}
#main-content-container .col-avatar .avatar{z-index:100;width:150px;height:150px;margin-top:0px;border-radius:100%;box-shadow:0 0 0 0.3em #fff;opacity:1;}

#main-content-container .col-info{height:100%;align-items:center;display:-webkit-flex;height:150px}
#main-info-container{padding-top:15px}
#main-info-container .col-name{text-align:center}
#main-info-container .col-name .textbox-info{display:inline-block;margin:0 auto;text-align:left}
#main-info-container .col-name .name{margin:0;color:#5a301b;font-size:1.85em;font-family:"Source Sans Pro",Helvetica,sans-serif}
#main-info-container .col-name .email{color:#666; font-size:14px}
#main-info-container .col-link{text-align:center;margin:2.5px 0 -25px;}
#main-info-container .col-link ul {margin:0px auto auto;padding:0;list-style:none;text-align:right}
#main-info-container .col-link li {display:inline-block;margin:auto;padding:0 10px;color:#ccc;line-height:10px}
#main-info-container .col-link li a{width:45px;height:45px;color:#ccc;padding:0;font-size:45px;line-height:45px}
#main-info-container .col-link li a:focus,
#main-info-container .col-link li a:hover{text-decoration:none;cursor:hand}
#main-info-container .col-link li a.border{border:1px solid #ccc;border-radius:100%;}
#main-info-container .col-link li a.padding{padding:0px 0px;font-size:22px}

/* Other */
#main-more-container{background:#ffffff;width:100%;padding:0 30px}

#main-bio-container{margin:auto;padding: 0 0em;max-width:1080px;text-align:left;padding-top:30px;max-width:1080px;font-size:1rem;line-height:1.4}
#main-bio-container .subtitle{margin-top:30px;color:#5a301b}

#main-pub-container{margin:auto;padding: 0 0em;max-width:1080px;text-align:left;padding-top:30px;max-width:1080px}
#main-pub-container .subtitle{color:#5a301b;}
#main-pub-container .subtitle a {font-weight:400;font-size:18px}
#main-pub-container .subtitle a.activated {color:#333333}
#main-pub-container .subtitle a.activated:focus,
#main-pub-container .subtitle a.activated:hover {text-decoration:none;cursor:initial}

#main-pub-container .subtitle-aux {font-size:1rem}
#main-pub-container .subtitle-aux a.activated {color:#333333}
#main-pub-container .subtitle-aux a.activated:focus,
#main-pub-container .subtitle-aux a.activated:hover {text-decoration:none;cursor:initial}

#main-pub-card-container{}
#main-pub-card-container>h5{margin-bottom: 20px}
#main-pub-card-container .pub-card{width: 100%;padding-bottom:15px;font-size:1rem}
#main-pub-card-container .pub-card .col-l{text-align:center;padding-top:10px}
#main-pub-card-container .pub-card .col-r{padding-top:10px}
#main-pub-card-container .pub-card img{width:100%;margin:0 auto}
#main-pub-card-container .pub-card-body{width:100%;background:transparent;padding-left:0px}
#main-pub-card-container .pub-card .title{font-weight:600;font-size:1rem;margin-bottom:4px;line-height:1.4}
#main-pub-card-container .pub-card .authors{font-weight:400;color:#666666;margin-bottom:4px;line-height:1.4}
#main-pub-card-container .pub-card .authors a{color:#666666}
#main-pub-card-container .pub-card .authors u{color:#333333;font-weight:600;text-decoration:none}
#main-pub-card-container .pub-card .conference{color:#333333;font-weight:600}
#main-pub-card-container .pub-card .note{display:block;color:#999999;text-decoration:none;font-size:14px}
#main-pub-card-container .pub-card .info{margin-bottom:0;}
#main-pub-card-container .row{margin:0}
#main-pub-card-container .col-l,
#main-pub-card-container .col-r{vertical-align:top;display:inline-block;margin:0;padding-left:0px}

#footer{padding:1.5em 0 1.5em;min-width:240px;background:#f4f4f4;opacity:0.95;font-size:14px;line-height:12px;text-align:left}
#footer .container{max-width:540px;padding:0 45px}
#footer .row{align-items:center}
#footer .stat{width:90px;overflow:hidden;margin:0 auto;padding:0 15px;}
#footer .copyright{flex-grow:1;margin:5px auto 5px;text-align:left;display:block;font-size:14px;line-height:1.4}
#footer a{color:#666666}
#footer a:hover{color:#333333}


.bold{font-weight:600}
.highlight{color:#BB2222;font-weight:600}
.hide{display:none}
body{font-family:Bodoni,Palatino,Georgia,serif}

blockquote footer{
  text-align:right;
}

.IPA{
    font-family: Gentium,'Gentium Plus',GentiumAlt,'DejaVu Sans','Segoe UI','Lucida Grande','Charis SIL','Doulos SIL','TITUS Cyberbit Basic','Code2000','Lucida Sans Unicode',sans-serif;
}